# FILE CON STRAVA
.env

# Database
*.db
static/
uploads/

# File temporanei di Python
__pycache__/
*.pyc

# Cartelle di sistema/editor
.vscode/
.idea/

# Dipendenze (in caso di uso di venv)
venv/
.env/

# node
node_modules/