fastapi
uvicorn[standard]
httpx
python-dotenv
gpxpy
sqlalchemy
sqlmodel
pydantic
cryptography
python-multipart
passlib[bcrypt]
pyjwt
PyYAML
rich
itsdangerous
certifi
idna
greenlet
watchfiles
uvloop
httptools
websockets
python-jose